.calculator {
    border: 7px solid black;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}


.display {
    max-width: 100%;
    height: 80px;
    background-color: #F7C5CC;
    font-weight: bold;
    font-size: 2rem;
    color: #CC313D;
    line-height: 80px;
    text-align: right;
    padding: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.num {
    height: 60px;
    font-size: 25px;
}

.op {
    background-color: honeydew;
    height: 60px;
    font-size: 20px;
    
}

.equal {
    background-color:  #F7C5CC;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.clear {
    background-color:  #F7C5CC;
    color: black;
    font-weight: bold;
    font-size: 20px;
}